extends layout 
 
block content 
  h1= title 
  if(toShow==null)
    h2 No instance to Detail
  else
  - let searchid = toShow._id 
  - let search_type = toShow.color 
  - let searchcost = toShow.size 
  - let searchsize = toShow.price 
  div 
    div.row 
      div(class='searchStyle mr-3') Search ID is: 
      div #{searchid} 
    div.row 
      div(class='searchStyle mr-3') Search Color is: 
      div #{search_type} 
    div.row 
      div(class='searchStyle mr-3') Search price is: 
      div #{searchsize} 
    div.row 
      div(class='searchStyle mr-3') Search Size is: 
      div #{searchcost} 